.main-page {
    --buttons-font-size: 40px;
    font-size: 1.3rem;
    --buttons-height: 40px;
    --buttons-border: var(--main-color) solid 3px;
    color: var(--color);
    background: var(--bg-linear);
    display: flex;
    height: 100vh;
    width: 100%;

    & nav {
        background-color: var(--bg2);
        display: flex;
        flex-direction: column;
        width: 30%;
        padding: 10px;
    }

    & section {
        width: 100%;
        overflow: auto;

        & header {
            position: sticky;
            top: 0;
            display: flex;
            justify-content: space-between;
            background-color: var(--bg2);
            width: 100%;
            padding: 20px;

            & .search {
                display: flex;
                align-items: center;
                width: 50%;
                @media only screen and (max-width: 800px) {
                    width: 100%;
                    margin-right: 17px;
                }
                &-input {
                    width: 100%;
                    padding: 5px 12px;
                    height: var(--buttons-height);
                    border-radius: calc(var(--buttons-height) / 2);
                    z-index: 1;
                    border: var(--buttons-border)
                }
                &-icon {
                    height: var(--buttons-height);
                    padding: 0 12px 1px 31px;
                    z-index: 0;
                    border: var(--buttons-border);
                    border-bottom-right-radius: calc(var(--buttons-height) / 2);
                    border-top-right-radius: calc(var(--buttons-height) / 2);
                    display: flex;
                    align-items: center;
                    position: relative;
                    left: -28px;
                    cursor: pointer;
                    & i {
                        transform: scale(1.1);
                    }
                }
            }

            & .theme {
                cursor: pointer;
                user-select: none;
                display: flex;
                align-items: center;
        
                &-square {
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    margin: 0 5px;
                }
                &-dark {
                    background-color: var(--bg-dark);
                }
                &-light {
                    background-color: var(--bg-light);
                }
                &-pink {
                    background-color: var(--bg-pink);
                }
                & span {
                    @media only screen and (max-width: 800px) {
                        display: none;
                    }
                }
            }
        }

        & .music-list {
            display: flex;
            flex-direction: column;
        }

        & .musicplayer {
            position: sticky;
            top: 80px;
            background-color: var(--bg2);
            padding: 0 20px 20px;
            &-button {
                color: var(--main-color);
            }
        }

        & .more {
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            border: var(--buttons-border);
            color: var(--color);
            height: var(--buttons-height);
            border-radius: calc(var(--buttons-height) / 2);
            font-family: var(--font);
            font-size: var(--buttons-font-size);
            background-color: var(--main-color);
            cursor: pointer;
            margin: 20px;
        }
    }
}

.dark {
    --bg1: var(--bg-dark);
    --bg2: black;
    --color: var(--color-dark);
    --bg-linear: linear-gradient(to right, var(--bg-dark2), var(--bg1));
}

.light {
    --bg1: var(--bg-light);
    --bg2: white;
    --color: var(--color-light);
    --bg-linear: linear-gradient(to right, var(--bg-light2), var(--bg1));
}

.pink {
    --bg1: var(--bg-pink);
    --bg2: white;
    --color: var(--color-pink);
    --bg-linear: linear-gradient(to right, var(--bg-pink2), var(--bg1));
}
.pink-background-image {
    background-size: 100% auto;
    background-image: url('../../assets/hearths.png');
}

.yt-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}