<div class="main-page" [ngClass]="{'dark' : theme === 'dark', 'pink' : theme === 'pink', 'light' : theme === 'light'}">
    <nav [ngClass]="{'pink-background-image': theme==='pink'}">
        <header>
            <ms-logo></ms-logo>  
        </header>
        <div class="history">Historia</div>
        <div class="favorite">Najczęściej odtwarzane</div>
        <div class="like">Polubione utwory</div>
        <span class="library">Playlisty:</span>
        <div class="playlist" *ngFor="let playlist of playlists">{{playlist.name}}</div>
        <span class="findInSave">Szukaj w zapisanych</span>
        <input type="text" placeholder="Search...">
        <button class="icon" (click)="search(input.value);">SZUKAJ <i class="fa fa-search" aria-hidden="true"></i></button>
    </nav>
    <section>
        <header [ngClass]="{'pink-background-image': theme==='pink'}">
            <div class="search">
                <input id="search" type="text" class="search-input" placeholder="Search..." #input [ngClass]="{'pink-background-image': theme==='pink'}">
                <div class="search-icon" (click)="search(input.value);"><i class="fa fa-search" aria-hidden="true"></i></div>
            </div>
            <div class="theme">
                <span>CHANGE THEME:</span>
                <div *ngIf="theme!=='dark'" class="theme-dark theme-square" (click)="changeTheme('dark')"></div>
                <div *ngIf="theme!=='light'" class="theme-light theme-square" (click)="changeTheme('light')"></div>
                <div *ngIf="theme!=='pink'" class="theme-pink theme-square" (click)="changeTheme('pink')"></div>
            </div>
        </header>
        <section class="musicplayer">
            <div class="musicplayer-img">
                <img class="musicplayer-img-thumbnails" src="{{videoItem.thumbnails}}" alt="">
                <i class="fa fa-video-camera musicplayer-img-camera" aria-hidden="true"></i>
            </div>
            <div class="musicplayer-info">
                <div class="musicplayer-info-title">Tytuł: {{videoItem.title}}</div>
                <div class="musicplayer-info-chanel">Wykonawca/kanał: {{videoItem.channelTitle}}</div>
                <div class="musicplayer-info-controller">
                    <span class="musicplayer-info-controller-time">
                        {{actualTime / 60 | number: '2.0-0'}}:{{actualTime % 60 | number: '2.0-0'}}
                    </span>
                    <i class="musicplayer-info-controller-button fa" aria-hidden="true" (click)="play()" [ngClass]="{'fa-play': state==='ended','fa-pause': state==='playing', 'fa-spinner': state==='loading'}"></i>
                    <span class="musicplayer-info-controller-duration">{{videoItem.duration | duration}}</span>
                </div>
            </div>
            <i class="fa fa-download" aria-hidden="true"></i>
            </section>
        <section class="music-list" *ngFor="let item of results">
            <ms-music *ngIf="item" [item]="item" (eventPlay)="play($event)"></ms-music>
        </section>
        <div class="more" *ngIf="results.length" (click)="search(input.value, true)">LOAD MORE</div>
    </section>
    <div class="yt-player" [ngStyle]="{'display': watchVideo ? 'block' : 'none'}">
        <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
        <div id="player"></div>
    </div> 
</div>
