.logo {
    font-size: 50px;
    font-weight: 500;
    color: var(--main-color);
    font-family: 'Ceviche One', cursive;
    user-select: none;
    position: relative;
    @media only screen and (max-width: 700px) {
        visibility: hidden;
        &:after {
            content: 'MS';
            position: absolute;
            top: 0;
            left: 0;
            visibility: visible;
        }
    }
}